.appoinment-main{
    width: 88%;
    margin: 40px  auto; 
    display: flex;
    gap: 30px;
}
.doc-img{
    border: 2px solid #d1d5db;
    height: 300px;
    width: 300px;
    border-radius: 22px;
}
.doc-img img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-color: rgb(63, 78, 247);
}
.docInfo-main{
    border: 2px solid #d1d5db;
    height: 250px;
    width: 850px;
    padding: 25px;
    border-radius: 20px;
}
.appoinment-main button{
    border: 2px solid black;
    background-color: white;
    height: 32px;
    width: 90px;
    border-radius: 20px;
}
.bookingSlot{
   
    margin-top: 32px;       
    font-weight: 500;       
    color: #565656;    
    margin-left: 400px;   
    padding-left: 16px;    
}
.slot-day{
    display: flex;           
    gap: 12px;                
    align-items: center;      
    width: 100%;             
    overflow-x: scroll;     
    margin-top: 16px;      
    scrollbar-width: none; 
    white-space: nowrap; 
}
.slot-days{
   text-align: center;            
  padding-top: 9px;            
  padding-bottom: 9px;
  min-width: 60px;              
  border-radius: 9999px;        
  cursor: pointer;              
  border: 1px solid #DDDDDD;
}
.slot-day :hover{
    background-color: rgb(63, 78, 247);
    color: white;
}
  
.selected-day {
  background-color: #007bff;
  color: white;
  font-weight: bold;
    border-radius: 9999px;
  }
  

  .time-slot {
    display: flex;              
    align-items: center;        
    gap: 12px;                 
    width: 65%;                
    overflow-x: scroll;         
    margin-top: 16px;   
    white-space: nowrap;
    scrollbar-width: none; 

   
  }
  .time-slot-item {
    min-width: 80px;
    padding: 8px 12px;
    border-radius: 20px;
    text-align: center;
    background-color: white;
    cursor: pointer;
    scroll-snap-align: start;
    transition: 0.3s ease;
    border: 1px solid #B4B4B4; 
  }
  
  .time-slot-item:hover {
    background-color: #d0d0ff;
  }
  
  .selected-time {
    background-color: #007bff;
    color: white;
    font-weight: bold;
  }
.bookingSlot button{
  width: 230px;
  height: 45px;
  background-color: rgb(44, 60, 238);
  background-color: #0d6efd; 
  color: white;
  border-radius: 20px; 
  cursor: pointer;
  border: none;
  font-size: 16px;               
  font-weight: 300;  
  }